*{
  background-color: transparent;
  
  border: none;
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
}

body {
  background-color: #F3FDFF;
  
  font-family: 'Itim', cursive;
  
  width: 100%;
  
  margin-top: 50px;
}

#headerSection, header {
  background-color: #D0F8FF;
  
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#headerSection {
  border-bottom: 3px solid #004955;
}

#headerSection header {
  height: 90%;
}

header h1 {
  color: #004374;
  
  font-size: 2em;
  font-family: 'Caveat', cursive;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 50px;
  text-align: center;
  filter: drop-shadow(0px 0px 8px black);
  
  width: 100%;
  height: auto;
  
  margin-bottom: 10px;
}

header h1 span {
  background-color: #004374;
  color: #00FDFF;
  
  border-radius: 10px;
  padding: 0px 5px;
}

header p {
  color: #3A7394;
  
  font-size: 1.5em;
  font-family: 'Caveat', cursive;
  text-align: center;
  filter: drop-shadow(0px 0px 8px black);
}

header p span {
  color: #002445;
}

header .profile {
  filter: saturate(150%) contrast(150%) drop-shadow(0px 0px 8px black);
  
  width: fit-content;
  height: fit-content;
  max-height: 50%;
}

header address, #footerSection address {
  width: 100%;
  height: auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header address img, #footerSection address img {
  filter: drop-shadow(0px 0px 8px black);
  
  width: auto;
  height: 30px;
  
  margin: 5px 2%;
}

#headerSection nav {
  background-color: #004374;
  color: #CAFFFF;

  position: fixed;
  top: 0px;

  width: 100%;
  height: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#headerSection nav a {
  color: #00FDFF;
  
  font-size: 1.5em;

  font-family: 'Caveat', cursive;
  text-decoration: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  width: auto;
  height: 80%;
  
  border-radius: 20px;
  padding: 0 1%;
}

#headerSection a:hover, #headerSection a:active {
    background: #DBDEFF;
    color: #004185;
    transition: ease 1s all;
}

main {
  font-size: 1.5em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  margin: 10px;
}

#aboutSec, #servicesSec, #skillsSec, #projectsSec, #contactSec {
  background-color: #F0FDFF;
  color: #004374;
  
  width: 96%;
  height: auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  border-bottom: 3px solid #004955;
  padding: 50px 0px;
}

#aboutSec h2, #servicesSec h2, #skillsSec h2, #projectsSec h2, #contactSec h2 {
  color: #00D9FF;
  
  -webkit-text-stroke: 1px #004955;
  
  margin-bottom: 3%;
}

#aboutSec p, #aboutSec a, #projectsSec p, #contactSec p {
  text-align: center;
  text-decoration: none;
  
  width: 100%;
}

#aboutSec a {
  background-color: darkolivegreen;
  color: greenyellow;
  
  text-align: center;
  
  width: auto;
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  
  padding: 5px;
  border-radius: 20px;
  margin-top: 50px;
}

#aboutSec a img {
  width: auto;
  height: 30px;
  
  border-radius: 50%;
  margin-right: 10px;
}

#servicesSec div, #skillsSec div, #projectsSec div {
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

#servicesSec figure, #skillsSec figure, #projectsSec figure {
  background-color: #C6E3FF;
  
  text-align: center;
  
  display: block;
  
  width: 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  border-radius: 20px;
  padding: 5%;
  margin: 1%;
}

#servicesSec div figure, #projectsSec div figure {
  flex: 250px;
}

#servicesSec figure img, #skillsSec figure img, #projectsSec figure img {
  display: block;
  
  width: 100%;
  
  border: 2px solid #002445;
  border-radius: 20px;
}

#servicesSec figure figcaption, #skillsSec figure figcaption, #projectsSec figure figcaption {
  width: 100%;
}

#servicesSec figure figcaption .order {
  background-color: #00305D;
  color: #e9f4ff;
  
  display: block;
  
  width: auto;
  
  border: 3px solid #00305D;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
}

#servicesSec figure figcaption .price {
  color: darkred;
  
  font-size: 1.25em;
  
  display: block;
  
  width: auto;
  
  border-top: 1px solid #00305D;
  margin-top: 10px;
}

#skillsSec figure img {
  border: none;
  border-radius: 0px;
}

#projectsSec figure figcaption a {
  color: #00FFA5;
  
  text-decoration: none;
  -webkit-text-stroke: 1px black;
}

#contactSec p {
  font-size: 1.25em;
  
  text-align: center;
  
  justify-content: center;
}

#contactSec address {
  width: 100%;
  height: auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  padding: 10px 0px;
}

#contactSec address img {
  width: auto;
  height: 30px;
  
  margin: 3px 1%;
}

#contactSec .specialSpan {
  background-color: white;
  color: darkblue;
  
  font-size: 1em;
}

#contactSec .specialSpan span {
  color: red;
}

#footerSection {
  background-color: #004374;
  
  width: 98%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  padding: 5% 1%;
}

#footerSection footer {
  width: 90%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  border-bottom: 1px solid aliceblue;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#footerSection nav {
  width: 90%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#footerSection #rocket {
  transform: rotate(-45deg);
  filter: drop-shadow(0px 0px 8px);
  
  position: fixed;
  bottom: 30px;
  right: 15px;
  
  width: 50px;
  height: auto;
}
