// Palette Color Scheme
$tangelo: #FB4D05ff;
$amber: #FCBC14ff;
$emerald: #73CC86ff;
$cerulean: #1c677e;
$oxford-blue: #0b0827;
$end-line: #FDCB4A;
// shadows
$textShadow: 0 0 10px #00000036;
$boxShadow: 0px 0px 20px #00000038;
$dropShadow: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
// google font family
$main-family: 'Oswald', sans-serif;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

html,
body,
* {
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
}

body {
  background-color: #fff;
  color: $oxford-blue;
  font-size: 20px;
  font-family: $main-family;
  width: 100%;

  a {
    color: $oxford-blue;
    text-decoration: none;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#app,
div#app>div {
  width: 100%;
}

.header.flex {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;

  nav {
    background-color: #fff;
    box-shadow: 0px -15px 20px #000;
    width: 95%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    justify-content: space-between;
    padding: 0 2.5%;

    .brand {
      height: 60%;

      img {
        filter: $dropShadow;
        height: 100%;
        margin-right: 10px;
        cursor: pointer;
      }

      h1 {
        font-size: 1.25em;
        font-weight: $bold;
        text-shadow: $textShadow;
        cursor: pointer;
      }
    }

    .navigation {
      height: 100%;
      position: relative;

      li {
        list-style: none;
      }

      ul.menu {
        li {
          padding: 0 10px;

          a {
            font-weight: $semiBold;
            text-shadow: $textShadow;
            position: relative;
          }

          a:hover::after {
            content: " ";
            background-color: $amber;
            width: 50%;
            height: 3px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            translate: -50% 0;
            border-radius: 30px;
            animation: stretch 1s;
          }

          a:active {
            color: $amber;
          }
        }

        li.menuIcon {
          cursor: pointer;
          display: none;
        }

        @media screen and (max-width: 800px) {
          li {
            display: none;
          }

          li.menuIcon {
            display: block;
            padding: 0;

            img {
              width: 30px;
            }
          }
        }
      }

      ul.call-to-action {
        li {
          background: $oxford-blue;
          cursor: pointer;
          border-radius: 30px;
          margin-left: 10px;
          transition: background-color 0.3s ease;
          box-shadow: $boxShadow;

          a {
            color: #fff;
            font-weight: $regular;
            text-decoration: none;
            display: inline-block;
            padding: 8px 25px;
          }
        }

        li:hover {
          background-color: #fff;
          box-shadow: inset 0px 0px 10px;
          animation: smoothyAnimation 0.3s ease;

          a {
            color: $oxford-blue;
            font-weight: $medium;
          }
        }
      }
    }

    @media screen and (min-width: 800px) {
      .slide-menu {
        display: none;
      }
    }

    @media screen and (max-width: 400px) {
      .brand {
        height: 40%;

        h1 {
          font-size: 1em;
        }
      }

      .navigation {
        ul.call-to-action {
          li a {
            padding: 5px 10px;
          }
        }
      }
    }

    @media screen and (max-width: 270px) {
      ul.call-to-action {
        display: none;
      }
    }

    .slide-menu {
      background-color: #fff;
      width: 100%;
      height: 100vh;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 900;

      ul {
        height: 70%;
        list-style: none;
        flex-wrap: wrap;
        margin: 15% auto;

        li {
          width: 100%;
          text-align: center;

          a {
            font-weight: $bold;
            text-shadow: $textShadow;
            position: relative;
          }

          a:hover::after {
            content: " ";
            background-color: $amber;
            width: 50%;
            height: 3px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            translate: -50% 0;
            border-radius: 30px;
            animation: stretch 1s;
          }

          a:active {
            color: $amber;
          }
        }
      }
    }

  }

  .hero-section {
    width: 80%;
    max-width: 1000px;
    z-index: 1000;
    flex-wrap: nowrap;
    justify-content: space-between;

    >div {
      width: 30%;
      padding-top: 60px;
    }

    .left-section {
      text-shadow: $textShadow;
      flex-direction: column;
      align-items: start;
      padding-bottom: 100px;

      h1 {
        font-size: 1.75em;
        font-weight: $semiBold;
        line-height: 30px;
        padding: 15px 0;

        span {
          font-size: 0.6em;
          font-weight: $bold;
          display: block;
        }
      }

      p.bio {
        color: $tangelo;
        font-weight: $semiBold;
      }

      div.stat-numbers {
        flex-wrap: nowrap;
        justify-content: start;
        align-items: stretch;
        padding: 0;
        margin: 20px 0;

        p {
          color: #404040;
          font-size: 0.75em;
          font-weight: $medium;
          flex-direction: column;
          justify-content: stretch;
          align-items: start;
          padding: 0 10px 0 0;

          span {
            color: $oxford-blue;
            font-size: 1.25em;
            font-weight: $bold;
            display: block;
            padding-bottom: 5px;
          }
        }
      }

      a {
        display: block;

        p.call-to-action {
          background-color: $oxford-blue;
          color: #fff;
          box-shadow: $boxShadow;
          font-size: 1em;
          font-weight: $regular;
          cursor: pointer;
          width: -moz-fit-content;
          width: fit-content;
          border-radius: 30px;
          padding: 10px 20px;

          i {
            padding-left: 15px;
          }
        }

        p.call-to-action:hover {
          background-color: #fff;
          color: $oxford-blue;
          box-shadow: inset 0px 0px 10px;
          font-weight: $bold;
          animation: smoothyAnimation 0.3s ease;

          i {
            animation: right-left 0.5s ease infinite;
          }
        }
      }
    }

    .middle-section {
      width: 40%;

      img {
        width: 100%;
      }
    }

    .right-section {
      text-shadow: $textShadow;
      padding-bottom: 60px;

      div.skills-icons {
        width: 100%;
        flex-wrap: wrap;
        justify-content: start;
        padding-bottom: 10px;

        img {
          filter: $dropShadow;
          width: 25px;
          padding: 2px 5px;
        }
      }

      div.about {
        p {
          font-size: 0.9em;
          font-weight: $semiBold;
          padding: 5px 0;
        }

        p.call-to-action {
          color: $tangelo;
        }
      }
    }

    @media screen and (max-width: 800px) {
      font-size: 20px;
      width: 70%;
      flex-wrap: wrap;
      justify-content: center;
      padding: 60px 0;

      >div {
        text-align: center;
        width: 100%;
      }

      .left-section {
        align-items: center;
        padding: 20px;
      }

      .middle-section {
        width: 50%;
        padding: 0;

        img {
          width: 100%;
          height: auto;
        }
      }

      .right-section {
        padding: 20px 0;

        div.skills-icons {
          width: 90%;
          justify-content: space-evenly;
          margin: auto;
        }
      }
    }
  }

  .social-media-section {
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    position: absolute;
    top: 50%;
    left: 15px;
    translate: 0 -50%;
    z-index: 1000;
    padding: 0;

    a.flex {
      font-weight: $bold;
      display: flex;

      p {
        display: none;
      }

      img {
        filter: $dropShadow;
        width: 25px;
      }
    }

    a:hover {
      background-color: #fff;
      box-shadow: $boxShadow;
      animation: smoothyAnimation 0.3s ease;
      border-radius: 30px;
      padding: 10px 5px;

      p {
        display: block;
        padding-left: 5px;
      }
    }

    @media screen and (max-width: 260px) {
      display: none;
    }
  }

  div.background {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

div.main-content,
footer.flex {
  width: 100%;
  padding-top: 20px;

  >div.flex {
    text-shadow: $textShadow;
    width: 90%;
    max-width: 1500px;
    flex-direction: column;
    padding: 0 5%;
    margin: auto;

    h1 {
      text-align: center;
      position: relative;
      margin-bottom: 20px;

      &::after {
        content: " ";
        background-color: $amber;
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        translate: -50% 0;
      }
    }

    div.body {
      width: 100%;
    }
  }

  .about.flex {
    .body {
      flex-wrap: nowrap;
      justify-content: space-between;

      >div {
        width: 50%;
      }

      .about-text {
        font-weight: $medium;
        line-height: 30px;

        p {
          padding-bottom: 15px;
        }

        p.call-to-action {
          color: $tangelo;
          font-weight: $bold;
        }

        a {
          background-color: #FFEC3F;
          color: #408A39;
          box-shadow: 0 0 10px #00000089 inset;
          width: -moz-fit-content;
          width: fit-content;
          border-radius: 30px;
          padding: 10px;
          margin-top: 10px;

          img {
            width: 20px;
            padding-right: 5px;
          }

          &:hover {
            box-shadow: 0 0 2px #00000089 inset;
            animation: smoothyAnimation 0.3s ease;
          }
        }
      }

      .about-img {
        margin: -30px 0;

        img {
          filter: $dropShadow;
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 800px) {
      .body {
        flex-direction: column-reverse;

        .about-img {
          width: 60%;
          padding: 50px 0;
        }

        .about-text {
          text-align: center;
          width: 90%;

          a {
            margin: auto;
          }
        }
      }
    }
  }

  .skills.flex {
    .body {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .skill-item {
        max-width: 80%;
        flex: 300px 0 0;
        justify-content: space-between;
        margin: 5px 10px;

        img {
          width: 30px;
        }

        .wrapper-slider {
          background-color: #d9d9d9;
          width: 260px;
          height: 15px;
          border-radius: 30px;

          .child-slider {
            background-color: $emerald;
            height: 100%;
            position: relative;
            border-radius: inherit;
            animation: fill-width 0.5s ease;

            p {
              font-size: 0.7em;
              font-weight: $semiBold;
              position: absolute;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
            }
          }
        }
      }
    }
  }

  .expertise.flex,
  .projects.flex {
    .body {
      width: 100%;
      position: relative;
      flex-wrap: nowrap;
      padding-bottom: 50px;

      .items {
        width: 90%;
        justify-content: space-evenly;
        overflow: hidden;

        .expertise-item {
          background: no-repeat center center;
          background-size: contain;
          flex: 45% 0 0;
          flex-direction: column;
          padding: 0;
          margin: auto 10px;
          transition: 1s all;
          animation: slider 5s ease-in-out infinite;

          @media screen and (max-width: 800px) {
            flex: 90% 0 0;
          }

          h4,
          p {
            text-align: center;

            @media screen and (max-width: 800px) {}
          }

          h4 {
            font-size: 1em;
            font-weight: $bold;
            padding-bottom: 5px;
          }

          p {
            font-size: 0.75em;
            font-weight: $medium;
          }
        }
      }

      .arrows {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        justify-content: space-between;
        margin-top: -25px;

        i {
          font-size: 2em;
          font-weight: $bold;
          cursor: pointer;
          max-width: 5%;
        }

        i.fa-angle-right {
          position: absolute;
          right: 0;
        }

        i:hover {
          font-size: 2.5em;
          transition: 0.5s all;
        }

        i:active {
          color: $amber;
        }
      }

      .dots {
        position: absolute;
        bottom: 15px;
        justify-content: space-evenly;

        div {
          background-color: #d9d9d9;
          content: " ";
          width: 8px;
          height: 8px;
          border: 3px solid #000;
          border-radius: 50%;
          margin: 0 5px;
        }

        div.active {
          background-color: #000;
          transition: 1.5s all;
        }
      }
    }
  }

  .projects.flex {
    .body .items {
      align-items: start;

      .project-item {
        text-align: center;
        text-shadow: $textShadow;
        cursor: pointer;
        flex: 45% 0 0;
        flex-direction: column;
        justify-content: start;
        margin: 0 10px;
        transition: 1s all;
        animation: slider 5s ease-in-out;

        @media screen and (max-width: 800px) {
          flex: 90% 0 0;
        }

        a {
          width: 100%;
          display: block;

          div.snapshot-project {
            width: 100%;
            margin: 10px 0;

            img {
              box-shadow: $boxShadow;
              width: 100%;
              border: 1px solid;
              border-radius: 10px;

              &:hover {
                transform: scale(1.1) !important;
                z-index: 1500;
                transition: 1s transform !important;
              }
            }
          }

          h4 {
            color: $tangelo;
            font-size: 1em;
            font-weight: $bold;
          }

          p {
            font-size: 0.75em;
            font-weight: $bold;
          }
        }
      }
    }

    .end-line {
      margin-bottom: 0;
    }
  }
}

.footer.flex {
  flex-direction: column;
  padding-top: 0;

  div.contact {
    background: url('../assets/backgrounds/contact background.png') no-repeat 100% 100%;
    background-size: cover;

    h1 {
      padding-top: 20px;
    }

    div.body {
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 50px;

      .contact-text {
        width: 45%;

        p {
          font-size: 0.8em;
          font-weight: $medium;
          text-align: justify;
          line-height: 20px;
        }

        div.connect-links {
          flex-direction: column;
          align-items: start;
          margin: 20px 0;

          a {
            display: flex;
            flex-wrap: nowrap;
            padding: 2px 0;

            img {
              width: 25px;
              padding-right: 10px;
            }
          }
        }

        div.connect-icons {
          flex-wrap: wrap;
          justify-content: start;
          padding-bottom: 20px;

          img {
            width: 20px;
            padding: 10px;
          }
        }
      }

      .form {
        width: 50%;
        flex-direction: column;
        border: 1px solid;
        border-radius: 10px;
        padding: 30px 0;

        h4 {
          color: $tangelo;
          font-size: 1.25em;
          text-align: center;
          margin-bottom: 20px;
        }

        form {
          width: 90%;
          margin: auto;
          flex-direction: column;

          >div {
            width: 100%;
            justify-content: space-between;

            &.full-width {
              width: 100%;
              margin-bottom: 10px;

              &.name {
                flex-wrap: nowrap;
              }

              &.contact-section {
                fieldset {
                  width: 100%;
                  border: 1px solid;
                  border-radius: 10px;

                  legend {
                    font-size: 0.9em;
                    font-weight: $medium;
                    padding: 0 7px;
                  }

                  label {
                    position: absolute;
                    top: -15px;
                    left: 20px;
                  }

                  .email {
                    width: 95%;
                    position: relative;
                    margin: 20px auto;
                  }

                  .preferred {
                    width: 95%;
                    justify-content: space-between;
                    margin: 20px auto;

                    .half-width {
                      position: relative;
                      width: 49%;
                    }
                  }
                }
              }

              &.content {
                flex-direction: column;

                >div.full-width {
                  width: 100%;
                  position: relative;
                  margin-top: 20px;

                  label {
                    position: absolute;
                    top: -15px;
                    left: 20px;
                  }

                  textarea {
                    border-radius: 10px;
                    resize: none;
                    height: 100px;
                  }
                }
              }

              label {
                font-size: 0.9em;
                font-weight: $medium;
                padding-right: 7px;
              }

              input,
              select,
              textarea {
                background-color: #F8FFF9;
                box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
                outline: none;
                font-weight: $bold;
                line-height: 20px;
                width: 96%;
                display: inline-block;
                border: none;
                border-radius: 20px;
                padding: 10px 2%;

                &:hover,
                &:active,
                &:focus {
                  border-top: 2px solid $oxford-blue;
                  border-left: 2px solid $oxford-blue;
                  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
                }
              }
            }
          }

          input#submit {
            background-color: #fb4d05;
            color: #fff;
            outline: none;
            font-size: 20px;
            font-weight: 600;
            border: none;
            border-radius: 30px;
            padding: 5px 20px;
            margin-top: 20px;
          }

          // .full-width {
          //   width: 100%;
          //   margin: 10px 0;
          // }

          // .name {
          //   width: 100%;

          //   input {
          //     padding: 5px 10px;
          //   }
          // }

          // .contactSection,
          // fieldset {
          //   width: 100%;

          //   >div {
          //     margin: 10px;

          //     .email {
          //       position: relative;

          //       label {
          //         position: absolute;
          //         top: -15px;
          //         left: 20px;
          //       }
          //     }
          //   }

          //   legend {
          //     padding: 0 8px;
          //   }
          // }
        }
      }

      @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        flex-direction: column;

        >div.contact-text,
        >div.form {
          width: 100%;
        }

        .contact-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            text-align: center;
          }
        }
      }
    }
  }

  div.copyright {
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    width: 100%;
    padding: 10px;

    span {
      color: red;
    }
  }
}

.end-line {
  background-color: $end-line;
  width: 100%;
  height: 2.5px;
  margin: 20px 0;
}

@keyframes stretch {
  0% {
    width: 0;
  }
}

@keyframes smoothyAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes right-left {
  0% {
    padding-left: 15px;
  }

  50% {
    padding-left: 20px;
  }

  100% {
    padding-left: 15px;
  }
}

@keyframes fill-width {
  0% {
    width: 0;
  }
}

@keyframes slider {
  0% {
    transform: translateX(110%);
  }

  10% {
    transform: translateX(0%);
  }

  90% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-110%);
  }
}