// Palette Color Scheme
$tangelo: #FB4D05ff;
$amber: #FCBC14ff;
$emerald: #73CC86ff;
$cerulean: #1c677e;
$oxford-blue: #0b0827;
$end-line: #FDCB4A;
// shadows
$textShadow: 0 0 10px #00000036;
$boxShadow: 0px 0px 20px #00000038;
$dropShadow: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
// google font family
$main-family: 'Oswald', sans-serif;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

html,
body,
* {
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
}

body {
  background-color: #fff;
  color: $oxford-blue;
  font-size: 20px;
  font-family: $main-family;
  width: 100%;

  a {
    color: $oxford-blue;
    text-decoration: none;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation,
.animation-side-left,
.animation-side-right,
.animation-following {
  visibility: hidden;
}

.animation.visible {
  visibility: visible;
  animation: scroll-display 1s ease-in-out;
}

.animation-side-left.visible {
  visibility: visible;
  animation: scroll-side-left-display 1s ease-in-out;
}

.animation-side-right.visible {
  visibility: visible;
  animation: scroll-side-right-display 1s ease-in-out;
}

.skill-item .skill-details .wrapper-slider .child-slider.visible {
  animation: fill-width 2s ease;
}

div#app,
div#app>div {
  width: 100%;
}

.header.flex {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: stretch;

  nav {
    background-color: #fff;
    box-shadow: 0px -15px 20px #000;
    width: 95%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    justify-content: space-between;
    padding: 0 2.5%;

    .brand {
      height: 60%;

      img {
        filter: $dropShadow;
        height: 125%;
        margin-right: 10px;
        cursor: pointer;
      }

      h1 {
        font-size: 1.5em;
        font-weight: $bold;
        text-shadow: $boxShadow;
        cursor: pointer;
      }
    }

    .navigation {
      height: 100%;
      position: relative;

      li {
        list-style: none;
      }

      ul.menu {
        li {
          padding: 0 10px;

          a {
            font-size: 0.9em;
            font-weight: $semiBold;
            text-shadow: $textShadow;
            position: relative;
          }

          a:hover::after {
            content: " ";
            background-color: $amber;
            width: 50%;
            height: 3px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            translate: -50% 0;
            border-radius: 30px;
            animation: stretch 1s;
          }

          a:active {
            color: $amber;
          }
        }

        li.menuIcon {
          cursor: pointer;
          display: none;
        }

        @media screen and (max-width: 800px) {
          li {
            display: none;
          }

          li.menuIcon {
            display: block;
            padding: 0;

            img {
              width: 30px;
            }
          }
        }
      }

      ul.call-to-action {
        li {
          background: $oxford-blue;
          cursor: pointer;
          border-radius: 30px;
          margin-left: 10px;
          box-shadow: $boxShadow;
          transition: all 1s;


          a {
            color: #fff;
            font-weight: $regular;
            text-decoration: none;
            display: inline-block;
            padding: 8px 25px;
          }
        }

        li:hover {
          box-shadow: none;
          animation: smoothyAnimation 0.3s ease;

          a {
            // color: ;
            font-weight: $medium;
          }
        }
      }
    }

    @media screen and (min-width: 800px) {
      .slide-menu {
        display: none;
      }
    }

    @media screen and (max-width: 400px) {
      .brand {
        height: 40%;

        h1 {
          font-size: 1em;
        }
      }

      .navigation {
        ul.call-to-action {
          li a {
            padding: 5px 10px;
          }
        }
      }
    }

    @media screen and (max-width: 270px) {
      ul.call-to-action {
        display: none;
      }
    }

    .slide-menu {
      background-color: #fff;
      width: 100%;
      height: 100vh;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 900;

      ul {
        height: 70%;
        list-style: none;
        flex-wrap: wrap;
        margin: 15% auto;

        li {
          width: 100%;
          text-align: center;

          a {
            font-weight: $bold;
            text-shadow: $textShadow;
            position: relative;
          }

          a:hover::after {
            content: " ";
            background-color: $amber;
            width: 50%;
            height: 3px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            translate: -50% 0;
            border-radius: 30px;
            animation: stretch 1s;
          }

          a:active {
            color: $amber;
          }
        }
      }
    }

  }

  .hero-section {
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    z-index: 1000;
    flex-wrap: nowrap;
    justify-content: space-between;

    >div {
      width: 30%;
      padding-top: 60px;
    }

    .left-section {
      text-shadow: $textShadow;
      flex-direction: column;
      align-items: start;
      padding-bottom: 100px;

      h1 {
        font-size: 1.5em;
        font-weight: $semiBold;
        line-height: 25px;
        padding: 15px 0;

        span {
          font-size: 0.6em;
          font-weight: $bold;
          display: block;
        }
      }

      p.bio {
        color: $tangelo;
        font-weight: $semiBold;
      }

      div.stat-numbers {
        flex-wrap: nowrap;
        justify-content: start;
        align-items: stretch;
        padding: 0;
        margin: 20px 0;

        p {
          color: #404040;
          font-size: 0.75em;
          font-weight: $medium;
          flex-direction: column;
          justify-content: stretch;
          align-items: start;
          padding: 0 10px 0 0;

          span {
            color: $oxford-blue;
            font-size: 1.25em;
            font-weight: $bold;
            display: block;
            padding-bottom: 5px;
          }
        }
      }

      a {
        display: block;

        p.call-to-action {
          background-color: $oxford-blue;
          color: #fff;
          box-shadow: $boxShadow;
          font-size: 0.9em;
          font-weight: $regular;
          cursor: pointer;
          width: -moz-fit-content;
          width: fit-content;
          border-radius: 30px;
          padding: 10px 20px;

          i {
            padding-left: 15px;
          }
        }

        p.call-to-action:hover {
          background-color: #fff;
          color: $oxford-blue;
          box-shadow: inset 0px 0px 10px;
          font-weight: $bold;
          animation: smoothyAnimation 0.3s ease;

          i {
            animation: right-left 0.5s ease infinite;
          }
        }
      }
    }

    .middle-section {
      max-width: 40%;

      @media (min-width: 801px) and (max-width: 900px) {
        width: 40%;
      }

      img {
        width: 100%;
      }

      @media screen and (max-width: 800px) {
        background: linear-gradient(360deg, $emerald, $cerulean);
        width: 200px;
        max-width: fit-content;
        max-height: 200px;
        overflow: hidden;
        border-radius: 50%;
        padding: 0;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .right-section {
      text-shadow: $textShadow;
      padding-bottom: 60px;

      div.skills-icons {
        width: 100%;
        flex-wrap: wrap;
        justify-content: start;
        padding-bottom: 10px;

        img {
          filter: $dropShadow;
          width: 25px;
          padding: 2px 5px;
        }
      }

      div.about {
        p {
          font-size: 0.9em;
          font-weight: $semiBold;
          padding: 5px 0;
        }

        p.call-to-action {
          color: $tangelo;
        }
      }
    }

    @media screen and (max-width: 800px) {
      font-size: 20px;
      width: 70%;
      flex-wrap: wrap;
      justify-content: center;
      padding: 60px 0;

      >div {
        text-align: center;
        width: 100%;
      }

      .left-section {
        align-items: center;
        padding: 20px;
      }

      .right-section {
        padding: 20px 0;

        div.skills-icons {
          width: 90%;
          justify-content: space-evenly;
          margin: auto;
        }
      }
    }
  }

  .social-media-section {
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    position: absolute;
    top: 50%;
    left: 15px;
    translate: 0 -50%;
    z-index: 1000;
    padding: 0;

    a.flex {
      font-weight: $bold;
      display: flex;

      p {
        display: none;
      }

      img {
        filter: $dropShadow;
        width: 25px;
      }
    }

    a:hover {
      background-color: #fff;
      box-shadow: $boxShadow;
      animation: smoothyAnimation 0.3s ease;
      border-radius: 30px;
      padding: 10px 5px;

      p {
        display: block;
        padding-left: 5px;
      }
    }

    @media screen and (max-width: 260px) {
      display: none;
    }
  }

  div.background {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

div.main-content,
footer.flex {
  width: 100%;
  padding-top: 20px;

  >div.flex {
    text-shadow: $textShadow;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    flex-direction: column;
    padding: 0 5%;
    margin: auto;

    h1 {
      text-align: center;
      position: relative;
      margin-bottom: 20px;

      &::after {
        content: " ";
        background-color: $amber;
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        translate: -50% 0;
      }
    }

    div.body {
      width: 100%;
    }
  }

  .about.flex {
    .body {
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: auto;

      .about-text {
        font-size: 0.9em;
        font-weight: $medium;
        line-height: 30px;
        margin-right: 50px;

        p {
          padding-bottom: 15px;
        }

        p.call-to-action {
          color: $tangelo;
          font-weight: $bold;
        }

        a {
          background-color: $oxford-blue;
          color: #fff;
          box-shadow: $boxShadow;
          width: -moz-fit-content;
          width: fit-content;
          border-radius: 30px;
          padding: 10px 20px;
          margin-top: 10px;

          img {
            width: 20px;
            padding-right: 5px;
          }

          &:hover {
            background-color: #fff;
            color: $oxford-blue;
            box-shadow: inset 0px 0px 10px;
            font-weight: $bold;
            animation: smoothyAnimation 0.3s ease;
          }
        }
      }

      .about-img {
        display: flex;
        justify-content: end;
        margin: 0;

        img {
          filter: $dropShadow;
          height: 500px;
        }
      }
    }

    @media screen and (max-width: 900px) {
      .body {
        flex-direction: column-reverse;

        .about-text {
          margin-right: 0;
        }

        .about-img {
          justify-content: center;
          padding: 50px 0;

          img {
            max-width: 90vw;
          }
        }

        .about-text {
          text-align: center;

          a {
            margin: auto;
          }
        }
      }
    }
  }

  .skills.flex {
    .body {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .skill-item {
        max-width: 80%;
        flex: 300px 0 0;
        justify-content: space-between;
        margin: 10px 10px;

        img {
          width: 30px;
        }

        .skill-details {
          h6 {
            margin-bottom: 3px;
          }

          .wrapper-slider {
            background-color: #d9d9d9;
            width: 260px;
            height: 15px;
            border-radius: 30px;

            .child-slider {
              background-color: $emerald;
              height: 100%;
              position: relative;
              border-radius: inherit;

              p {
                font-size: 0.7em;
                font-weight: $semiBold;
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
              }
            }
          }
        }
      }
    }
  }

  .expertise.flex,
  .projects.flex {
    .body {
      width: 100%;
      position: relative;
      flex-wrap: nowrap;
      padding-bottom: 50px;

      .items {
        width: 90%;
        justify-content: start;
        overflow: hidden;

        .expertise-item {
          background: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560' %3e%3cg mask='url(%26quot%3b%23SvgjsMask1352%26quot%3b)' fill='none' %3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)' %3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 319.22Q58.79 306.01%2c 72 364.81Q91.45 264.26%2c 192 283.71Q262.01 233.72%2c 312 303.73Q414.42 286.15%2c 432 388.58Q435.85 320.43%2c 504 324.28Q549.38 249.66%2c 624 295.04Q709.84 260.88%2c 744 346.71Q791.35 322.06%2c 816 369.41Q842.34 275.75%2c 936 302.08Q978.13 272.2%2c 1008 314.33Q1026.92 261.25%2c 1080 280.17Q1124.92 253.09%2c 1152 298.01Q1238.35 312.36%2c 1224 398.71Q1289.38 344.08%2c 1344 409.46Q1355.49 300.95%2c 1464 312.44z' fill='rgba(252%2c 188%2c 20%2c 0.75)' %3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 454.15Q64.6 398.75%2c 120 463.34Q164.14 435.48%2c 192 479.61Q199.69 367.3%2c 312 374.99Q380.16 323.15%2c 432 391.32Q490.67 377.99%2c 504 436.65Q546.57 359.22%2c 624 401.79Q720.59 378.38%2c 744 474.97Q797.16 408.13%2c 864 461.3Q888.53 365.83%2c 984 390.35Q1062.83 349.18%2c 1104 428.01Q1156.31 408.31%2c 1176 460.62Q1206.83 419.45%2c 1248 450.28Q1300.37 430.64%2c 1320 483.01Q1387.86 430.87%2c 1440 498.72Q1442.28 429%2c 1512 431.28z' fill='rgba(252%2c 188%2c 20%2c 1)' %3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 581.06Q66.08 527.14%2c 120 593.22Q131.41 532.63%2c 192 544.05Q227.25 459.3%2c 312 494.56Q379.75 442.31%2c 432 510.05Q476.46 482.51%2c 504 526.98Q520.38 471.37%2c 576 487.75Q625.88 465.63%2c 648 515.52Q698.25 493.77%2c 720 544.02Q759.85 463.87%2c 840 503.71Q889.17 480.88%2c 912 530.05Q978.22 476.26%2c 1032 542.48Q1073.09 463.57%2c 1152 504.65Q1195.72 476.37%2c 1224 520.08Q1295.41 471.49%2c 1344 542.9Q1422.51 501.41%2c 1464 579.92z' fill='rgba(255%2c 255%2c 255%2c 1)' %3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1352' %3e%3crect width='1440' height='560' fill='white' %3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") no-repeat center center;
          background-size: cover;
          box-shadow: 2px 2px 5px;
          height: 200px;
          flex: 400px 0 0;
          flex-direction: column;
          justify-content: space-around;
          border-radius: 30px;
          padding: 20px 0;
          margin: 10px 10px;
          transition: transform 0.5s;

          @media screen and (max-width: 500px) {
            flex: 80% 0 0;
          }

          h4,
          p {
            text-align: center;
            margin: 0 10px;
          }

          h4 {
            font-size: 1.25em;
            font-weight: $bold;
            padding-bottom: 15px;
          }

          p {
            font-size: 0.8em;
            font-weight: $medium;
          }
        }
      }

      .arrows {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        justify-content: space-between;
        margin-top: -25px;

        i {
          background-color: #e2fde8;
          line-height: 30px;
          cursor: pointer;
          width: 30px;
          display: flex;
          border-radius: 50%;
          transition: 0.5s all;

          &.fa-angle-right {
            position: absolute;
            right: 0;
          }

          &:hover,
          &:active {
            background-color: #b8f9c6;
            font-size: 1.25em;
          }
        }
      }

      .dots {
        position: absolute;
        bottom: 15px;
        justify-content: space-evenly;

        div {
          background-color: #d9d9d9;
          content: " ";
          width: 8px;
          height: 8px;
          border: 3px solid #000;
          border-radius: 50%;
          margin: 0 5px;
        }

        div.active {
          background-color: #000;
          transition: 1.5s all;
        }
      }
    }
  }

  .projects.flex {
    .body .items {
      align-items: start;

      .project-item {
        text-align: center;
        text-shadow: $textShadow;
        cursor: pointer;
        flex: 45% 0 0;
        flex-direction: column;
        justify-content: start;
        margin: 0 10px;
        transition: transform 0.5s;

        @media screen and (max-width: 800px) {
          flex: 90% 0 0;
        }

        a {
          width: 100%;
          display: block;

          div.snapshot-project {
            width: 100%;
            margin: 10px 0;

            img {
              background-color: transparent;
              box-shadow: 5px 5px 5px #0000007e;
              width: 100%;
              border-top: 2px solid;
              border-left: 2px solid;
              border-radius: 10px;
              transition: 1s transform;

              &:hover {
                transform: scale(0.8);
              }
            }
          }

          h4 {
            color: $tangelo;
            font-size: 1em;
            font-weight: $bold;
          }

          p {
            font-size: 0.75em;
            font-weight: $bold;
          }
        }
      }
    }

    .end-line {
      margin-bottom: 0;
    }
  }
}

.footer.flex {
  flex-direction: column;
  padding-top: 0;

  div.contact {
    background: url('../assets/backgrounds/contact background.png') no-repeat 100% 100%;
    background-size: cover;

    h1 {
      padding-top: 20px;
    }

    div.body {
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 50px;

      .contact-text {
        width: 45%;

        p {
          font-size: 0.8em;
          font-weight: $medium;
          text-align: justify;
          line-height: 20px;
        }

        div.connect-links {
          flex-direction: column;
          align-items: start;
          margin: 20px 0;

          a {
            display: flex;
            flex-wrap: nowrap;
            padding: 2px 0;

            img {
              width: 25px;
              padding-right: 10px;
            }
          }
        }

        div.connect-icons {
          flex-wrap: wrap;
          justify-content: start;
          padding-bottom: 20px;

          img {
            width: 20px;
            padding: 10px;
          }
        }
      }

      .form {
        width: 50%;
        flex-direction: column;
        border: 1px solid;
        border-radius: 10px;
        padding: 30px 0;

        h4 {
          color: $tangelo;
          font-size: 1.25em;
          text-align: center;
          margin-bottom: 20px;
        }

        form {
          width: 90%;
          margin: auto;
          flex-direction: column;

          >div {
            width: 100%;
            position: relative;
            margin-top: 20px;

            &.full-width {
              width: 100%;
              margin-bottom: 10px;

              label {
                font-size: 0.9em;
                font-weight: $medium;
                position: absolute;
                top: -15px;
                left: 20px;
                padding-right: 7px;
              }

              input,
              select,
              textarea {
                background-color: #F8FFF9;
                box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
                outline: none;
                font-weight: $bold;
                line-height: 20px;
                width: 96%;
                display: inline-block;
                border: none;
                border-radius: 20px;
                padding: 10px 2%;

                &:hover,
                &:active,
                &:focus {
                  border-bottom: 2px solid $oxford-blue;
                  border-right: 2px solid $oxford-blue;
                  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
                }
              }

              textarea {
                border-radius: 10px;
                resize: none;
                height: 100px;
              }
            }
          }

          input#submit {
            background-color: #fb4d05;
            color: #fff;
            outline: none;
            font-size: 20px;
            font-weight: 600;
            border: none;
            border-radius: 30px;
            padding: 5px 20px;
            margin-top: 20px;
          }
        }
      }

      @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        flex-direction: column;

        >div.contact-text,
        >div.form {
          width: 100%;
        }

        .contact-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            text-align: center;
          }
        }
      }
    }
  }

  div.copyright {
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;

    span {
      color: red;
    }
  }
}

.end-line {
  background-color: $end-line;
  width: 100%;
  height: 2.5px;
  margin: 20px 0;
}

@keyframes stretch {
  0% {
    width: 0;
  }
}

@keyframes smoothyAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes right-left {
  0% {
    padding-left: 15px;
  }

  50% {
    padding-left: 20px;
  }

  100% {
    padding-left: 15px;
  }
}

@keyframes fill-width {
  0% {
    width: 0;
  }
}

@keyframes scroll-display {
  0% {
    opacity: 0;
    transform: translate(0, 500px);
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes scroll-side-left-display {
  0% {
    opacity: 0;
    transform: translate(-500px, 0);
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes scroll-side-right-display {
  0% {
    opacity: 0;
    transform: translate(500px, 0);
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}